<div class="row">
  <div class="col-md-3">
    <search></search>
  </div>
  <div class="col-md-9">
    <div class="well">
      <div class="page-header">
        <h1><span *ngIf="forCurrentUser">Yours</span> Lots</h1>

        <button *ngIf="forCurrentUser" class="btn btn-lg btn-primary" (click)="lotModal.showModal()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Lot
        </button>

        <lot-modal #lotModal="lotModal" (addLot)="addLot($event)"></lot-modal>
      </div>

      <div class="row">
        <lot *ngFor="let lot of lots" [lot]="lot"></lot>
      </div>
    </div>
  </div>
</div>
