/* You can add global styles to this file, and also import other style files */

.form-group.required .control-label:after {
    content: " *";
    color: red;
}

body {
    background-color: #eceff1;
}