<div bsModal #lotModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="lotModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Add Lot</h4>
      </div>

      <div class="modal-body">
        <form (ngSubmit)="save()">
          <!-- Name -->
          <div class="form-group required">
            <label for="name" class="control-label">Name</label>
            <input type="text" class="form-control" id="name"
                   required
                   [(ngModel)]="lot.name" name="name" #name="ngModel">
            <p [hidden]="name.valid || name.pristine" class="alert alert-danger">
              Name is required
            </p>
          </div>

          <!-- Description -->
          <div class="form-group required">
            <label for="description" class="control-label">
              Description <a href="https://guides.github.com/features/mastering-markdown/" target="_blank">(you can use markdown)</a>
            </label>

            <!-- Source -->
            <div [hidden]="previewDescription">
              <button type="button" class="btn btn-info" (click)="previewDescription = true">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;Preview
              </button>

              <textarea class="form-control" id="description" rows="10"
                        required
                        [(ngModel)]="lot.description" name="description" #description="ngModel">
              </textarea>
            </div>

            <!-- Preview -->
            <div [hidden]="!previewDescription">
              <button [hidden]="previewDescription" type="button" class="btn btn-danger" (click)="previewDescription = false">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>&nbsp;Show source
              </button>

              <div class="panel panel-default panel-body" [innerHTML]="lot.description | markdownToHtml"></div>
            </div>

            <p [hidden]="description.valid || description.pristine" class="alert alert-danger">
              Description is required
            </p>

          </div>

          <!-- Starting price -->
          <div class="form-group required">
            <label for="startingPrice" class="control-label">Starting price</label>
            <input type="number" class="form-control" id="startingPrice"
                   required
                   [(ngModel)]="lot.startingPrice" name="startingPrice" #startingPrice="ngModel">
            <p [hidden]="startingPrice.valid || startingPrice.pristine" class="alert alert-danger">
              Starting price is required
            </p>
          </div>

          <!-- Images -->
          <h4>Attachments</h4>
          <div class="panel panel-default panel-body drop-zone"
               (dragover)="mouseEnter = true"
               (dragleave)="mouseEnter = false"
               (drop)="mouseEnter = false"
               [class.file-over]="mouseEnter"
               ngFileDrop
               [options]="options"
               (onUpload)="handleMultipleUpload($event)">
            <span>Drop files right here or use button</span>
          </div>

          <input type="file"
                 multiple="true"
                 ngFileSelect
                 [options]="options"
                 (onUpload)="handleMultipleUpload($event)">

          <progressbar *ngIf="progress > 0 && progress < 100" [value]="progress" class="progress-striped active">
            <span style="color:white; white-space:nowrap;">{{progress}}%</span>
          </progressbar>

          <div class="row">
            <div *ngFor="let response of responses" class="col-xs-4 col-md-3">
              <div class="thumbnail">
                <a (click)="removeImage(response)" class="btn btn-danger pull-right" role="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                <img [src]="response?.image?.base64" height="100"/>
              </div>
            </div>
          </div>

          <!-- Characteristics -->
          <p>//TODO: Characteristics</p>

          <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&nbsp;Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
