<div *ngIf="auctionHasStarted()" class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Auction controls</h3>
  </div>
  <div class="panel-body">
    <p class="lead">Participants have <span class="label label-danger"><ng-timer *ngIf="showTimer" [startTime]="betTimeout"></ng-timer></span> for a bet</p>

    <form class="form-inline" (ngSubmit)="makeBet()">
      <span>Highest bet amount: {{auction.highestPrice | currency:'UAH'}}</span>

      <div class="form-group">
        <label class="sr-only" for="betAmount">Bet amount</label>
        <div class="input-group">
          <div class="input-group-addon">&#8372;</div>
          <input type="number" class="form-control" id="betAmount"
                 [(ngModel)]="bet.bet" name="bet" required
                 placeholder="Enter your bet">
          <div class="input-group-addon">.00</div>
        </div>
      </div>
      <button type="submit" class="btn btn-lg btn-danger">Bet</button>
    </form>
  </div>
</div>

<div class="jumbotron" *ngIf="auction.winner">
  <h2 class="text-center">We have a winner!</h2>

  <div class="media">
    <div class="media-left">
      <img src="{{randomWinnerGifPath}}" class="media-object">
    </div>
    <div class="media-body">
      <p>{{auction.winner.firstName}} {{auction.winner.lastName}} won this auction</p>
    </div>
  </div>
</div>

<div *ngIf="!isAuctionCreated()" class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Logs</h3>
  </div>
  <table class="table table-striped">
    <tr *ngFor="let log of logs | async">
      <td class="col-md-3 text-center">{{log.time | date:'medium'}}</td>
      <td class="col-md-7">{{log.message}}</td>
    </tr>
  </table>
</div>
