<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"
              (click)="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" routerLink="/">
        <img alt="Catdogtion" src="../../assets/logo.png">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" [collapse]="isCollapsed">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/my-lots">My Lots</a></li>
      </ul>

      <div class="navbar-right" *ngIf="authenticatedUser">
        <p class="navbar-text">
          You are signed in as {{authenticatedUser?.firstName}} {{authenticatedUser?.lastName}}
        </p>
        <button type="button" class="btn btn-default navbar-btn" (click)="logout()">Logout</button>
      </div>

      <ul class="nav navbar-nav navbar-right" *ngIf="!authenticatedUser">
        <li routerLinkActive="active"><a routerLink="/sign-in">Sign in</a></li>
        <li routerLinkActive="active"><a routerLink="/sign-up">Sign up</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
